<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vote for {{candidate}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1> This guy wants to be the {{position}} </h1>
    <article>  {{story}}</article>
    <a href="/vote/{{pst}}">Back</a>
</body>
</html>