<!DOCTYPE html>
  <html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css" />
        <link rel="shortcut icon" href="https://www.ssbs.sh.cn/favicon.ico" type="image/x-icon">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
          h2{
            text-align: center;
          }
          em{
            color: red;
          }
          .vote{
            display:block;
            width: 20px;
            margin:auto;
            margin-top: 60px;
          }
        </style>
        </head>
    <body>
      <!--JavaScript at end of body for optimized loading-->
        <h2>The future depends on <em>YOU!</em></h2>
        <h2><em>Note: the voting has ended!</em></h2>
        <a href="/vote/hero" class="vote mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" disabled>Hero</a>
        <a href="/vote/villain" class="vote mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" disabled>Villain</a>
        <a href="/stats" class = "vote mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">Stats</a>
      <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138665535-1"></script>
  <script>  
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138665535-1');
  </script>

    </body>
  </html>
