<!DOCTYPE html>
  <html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
        <h1>Voting website</h1>
        <h1><b>Vote</b> for your future President/ Vice president!</h1>
        <ul>
          <li><a href="/vote/president">Vote for your president</a></li>
          <li><a href="/vote/vicepresident">Vote for your vicepresident</a></li>
        </ul>
    </body>
  </html>