<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vote page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css">
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <h1>President/ Vice president election!</h1>
    <span class = 'warning'>Warning: Vote carefully!</span>
    <form id ='VoteForm'action="/votesuccessful" method="POST">
        <ul>
            {%for candidate in candidatenamelist%}
            <li> <span>{{candidate}}</span> <input type="radio" name="p" value = "{{candidate}}"><a href='/{{candidate}}'>Know more about them</a></li>
            {% endfor %}
        </ul>
        <button type="button" onclick="submitform()">Submit</button>
    </form>
    <script>
        var cookie = document.cookie;
        function submitform(){
            if(cookie!=""){
                alert('You have already voted!');
            }else{
                document.cookie = "Voted:true"
                document.getElementById('VoteForm').submit();
            }

        }
    </script>
</body>
</html>